@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root {
    --main-color: #a5c5ab;
    --content-color: #f5f8f6; 
    --secondary-color: #e8f4ea;
    --high-priority-color: rgb(245, 54, 28);
}


p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
   position: relative;
}

.main {
    display: grid;
    width: 100%;
    grid-template-columns: 1.25fr 6fr;
    flex: 1 1 auto;
    position: relative;
    transition: all .3s;
}

.left-column {
    background-color:var(--secondary-color);
}

.main-content {
   background-color: var(--content-color);
   display: flex;
   justify-content: center;
   
}

.header {
    width: 100%;
    background-color: var(--main-color);
    color: rgb(255, 255, 255);
    padding: 32px 50px;
    font-size: 42px;
    font-weight: bold;
    transition: .3s;
}


.tabs-list {
    list-style: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    
    margin-top: 36px;
    
    padding-left: 24px;
    padding-right: 24px;
}

.main-tab {
    
}

.tab-item {
    cursor: pointer;
    padding: 12px 12px 12px 18px ;
    border-radius: 8px;
   
}

.tab-item:hover{
    
    background-color: #dae7dc;;
}

.project-tab-header{
    font-weight: bold;
    font-size: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
    
}

.todo-lists-content {
    width: 60%;
    padding-top: 24px ;
    display: flex;
    flex-direction: column;
    gap: 28px ;
    
}

.project-header {
    font-weight: bold;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-header span img {
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.todo {
    font-size: 18px;
    padding: 10px 8px 10px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.todo-checkbox {
    border: 2px solid black;
    border-radius: 25%;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.todo-done-checked {
    display: inline-block;
   
    width: 10px;
    height: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 25%;
}



.todo-left-side {
    display: flex;
    align-items: center;
    gap: 12px;
}

.priority-line {
    position: absolute;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    left: 0;
    height:100%;
    width: 3px;
    
    top: 0;
}





.create-todo {
    font-size: 18px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
    background-color: var(--main-color);
    border-radius: 10px;
}




.create-todo span {
    font-size: 24px;
    font-weight: bold;
}
.todo-actions {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 14px;
    
}

.todo-actions img {
    height: 26px;
    width: 26px;
    cursor: pointer;
    transition: .3s;
}

.todo-actions img:hover {
    transform: scale(1.1);
}

.todo-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.todo-title-checked {
   text-decoration: line-through;
   color: rgba(0, 0, 0, 0.363);
   user-select: none;
}
 

#project-title-input {
    padding-left: 8px;
    font-size: 16px;
    height: 2rem;
    background-color: var(--content-color);
    border-radius: 8px;
    border: 1px solid black;
}

.new-project-button {

}

.display-none {
    
    display: none !important;
}

.new-project-form{
    display: flex;
    flex-direction: column;
    gap: .5rem;
   
    padding: 12px 12px 12px 18px ;
    border-radius: 8px;
}

.new-project-form button {
    padding: .5rem 0px;
    width: 49%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

.add-btn {
    background-color: rgb(102, 255, 102);
}

.cancel-btn {
    background-color: #ff6060;
}



.delete-confirm {
    cursor: pointer;
    transition: all .3s;
    background-color: var(--content-color);
    border: 1px solid var(--high-priority-color);
    border-radius: 8px;
    color: var(--high-priority-color);
    padding: 6px 16px;
}

.delete-confirm:hover {
    color: var(--content-color);
    background-color: var(--high-priority-color)

}

.delete-project-button {
    transition: all .3s;
}

.delete-project-button:hover{
    transform: scale(1.1);
}

.details-btn {
    cursor: pointer;
    background-color: var(--secondary-color);
    border-radius: 4px;
    padding: 6px 10px;
    font-size: 12px;
    border: 1px solid black;
    color: black;
    transition: all .2s;
}



.details-btn:hover {
    color: var(--secondary-color);
    background-color: var(--main-color);
    border: 1px solid var(--main-color)
  
}

.tab-selected {
    font-weight: bold;
   
}

.tab-selected::before {
    font-weight: bold;
    content: '- ';
}

